<div class="row justify-content-center">
  <h3 class="col-sm-6">Customer</h3>
</div>
<div class="row justify-content-center">
  <div class="card col-sm-6">
    <div class="card-body">
      <h5 class="card-title">#<%= current_user.customer.customer_id %></h5>
      <p class="card-text"><%= current_user.customer.identifier %></p>
      <a href=<%= customer_connections_path(current_user.customer) %> class="btn btn-primary">See Details</a>
    </div>
  </div>
</div>
