<div class="row justify-content-center">
  <h3 class="col-sm-6">Accounts</h3>
</div>
<div class="row justify-content-center">
  <%# connection['provider_name'] %>
  <div class="col-sm-6">
    <div class="card">
      <ul class="list-group list-group-flush">
        <% @accounts&.each do |account| %>
          <li class="list-group-item">
            <dl>
              <% account.serializable_hash.each do |k, v| %>
                <dt><%= k %></dt>
                <dd><%= v %></dd>
              <% end %>
            </dl>
            <% if account.transactions.empty? %>
              <dl>
                <dt>Transactions</dt>
                <dd>0</dd>
              </dl>
            <% else %>
              <%= link_to 'Transactions', account_transactions_path(account), class: 'btn btn-primary' %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

